@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
body {
    background: url("./img/bluesky.jpg");     
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: fixed;
    margin: 0;
    margin-bottom: 0;
    font-family: 'Quicksand', sans-serif;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background-color: rgba(0, 0, 0, 0.15);
    margin: 0;
    padding: 2px 32px;
  }
form {
    width: 300px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}
input {
    width: 300px;
    height: 40px;
    margin-right: 0px;
    border-style: none;
    border-radius: 50px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.079);
    padding: 0 15px;
}

footer {
    position: relative;
    text-align: center;
    margin-top: auto;
    bottom: 0;
    width: 100%;
}
li {
    list-style-type: none;
}

.button {
    background-color: rgba(249, 246, 243, 0);
    background-size: cover;
    width: 43px;
    height: 44px;
    position: absolute;
    right: 0;
    background-image: url('img/weatherappsearchbutton.png');
    border: none;
    border-radius: 50px;
}
.currentTemp {
    font-size: 35px;
    font-weight: bolder;
}
.description {
    margin: 10px auto;
}
.eventDetail {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.464);
    border-radius: 5px;
    align-items: flex-start;
    margin: 10px auto;
}
.eventLists {
    width: 250px;
    /* margin-top: 5px 35px; */
}
.search {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.time {
    font-size: 15px;
    font-weight: bold;
}
.icon {
    width: 30px;
}
.weather {
    background-color: rgba(255, 255, 255, 0.464);
    border-radius: 5px;
    width: 450px;
    margin: 40px 30px;
    padding: 10px;
}
.weatherDetail {
    display: flex;
    flex-direction: row;
}
.weatherIcon {
    display: flex;
    flex-direction: row;
    align-items: center;
}
